.vscode/
.idea/
.venv/
/.local

# MacOS files
.DS_Store

.env.local

headlines_download/

target/
.env.db.dev
.tmp

test-artifacts/

# discovery_engine_api_tests
discovery_engine_api_tests/venv/
discovery_engine_api_tests/**/__pycache__/
discovery_engine_api_tests/tests/.pytest_cache/
discovery_engine_api_tests/tests/reports/
