# Flutter/Dart/Pub related
# Libraries should not include pubspec.lock, per https://dart.dev/guides/libraries/private-files#pubspeclock.
/pubspec.lock
**/doc/api/
.dart_tool/
.packages
build/

# When we push to the release repository
# we need to upload also the following files.
# DELETE_AFTER_THIS_IN_RELEASE
android/src/main/jniLibs/
# TODO: update with proper file references
ios/libxayn_*.a
# ios/Classes/XaynAiFfiCommon.h
# ios/Classes/XaynAiFfiDart.h
