[workspace]
members = [
    "ai/*",
    "async-bindgen/*",
    "bindings",
    "core",
    "providers",
    "tooling",
    "web-api",
]

[patch.crates-io.xayn-dart-api-dl]
git = "https://github.com/xaynetwork/xayn_dart_api_dl.git"
branch = "main"

[patch.crates-io.xayn-dart-api-dl-sys]
git = "https://github.com/xaynetwork/xayn_dart_api_dl.git"
branch = "main"

[profile.dev.package.tract-core]
opt-level = 3
